:root {
  --color-1: #881600;
  --color-2: #4E0110;
  --color-3: #333232;
}


/*CSS responsible for dropdown menus*/
.dropdown {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: darkred;
  width: 100%;
}

.dropdownContent:hover,
.dropdown.onFocus:focus-within .dropdownContent {
  display: block;
}

.dropdownContent *:hover {
  background-color: red;
}

/*CSS for other stuff*/

.addButton,
.priceTag {
  float: right;
  margin-right: 5%;
}

#categories {
  background-color: gray;
}
#categories p:hover {
  background-color: var(--color-1);
}
.categoryCol {
  width: 20%;
}

#selection {}
#selection *:hover {
  background-color: red;
}
.selectionCol {
  width: auto;
}

#summary {
  background-color: lightgray;
}
#summary div {
  margin-bottom: 10px;
}
#summary div h4 {
  display: inline;
}
.summaryCol {
  width: 25%;
}

th {
  font-size: calc(14px + 1.5vw);
}

tbody tr {
  vertical-align: top;
}

.addButton,
.addButton:hover{
  background-color: limegreen;
  padding: 7px;
  border-radius: 50%;
}