{% extends "templated_components/_skeleton.njk" %}
{% set title = "Add Restaurant" %}

{% block initialize %}
    <script src="scripts/addrestaurant.js"></script>
{% endblock %}

{% block body %}
    <h2>{{ title }}</h2>
    <label for="name">Name:</label>
    <input type="text" id="name"><br>

    <label for="delivery_fee">Delivery Fee:</label>
    <input type="number" id="delivery_fee"><br>

    <label for="min_order">Minimum Order:</label>
    <input type="number" id="min_order"><br>
    <button onclick="submit()">Submit</button>
{% endblock %}