{% extends "templated_components/_skeleton.njk" %}
{% set title = "Restaurants" %}
{#
Context:
    restaurantNames: [{id: int, name: String}, ...]
#}
{% block body %}
<h2>Restaurants</h2>
{% for restaurant in restaurantNames %}
    <h3><a href="/restaurants/{{restaurant._id}}">{{restaurant.name}}</a></h3>
{% else %}
    <h3>No Restaurants Available</h3>
{% endfor %}
{% endblock %}