{% extends "templated_components/_skeleton.njk" %}
{% set title = restaurant.name %}
{% block initialize %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/restaurant.css">
{% endblock %}
{% block body %}
    <h1 id="name">
        {{ restaurant.name }}
        <button><a href="{{ restaurant.id }}/edit">Edit</a></button>
    </h1>
    <h3 id="delivery_fee">Delivery Fee: ${{ restaurant.delivery_fee }}</h3>
    <h3 id="min_order">Minimum Order: ${{ restaurant.min_order }}</h3>
    <div id="menu">
        <h2>Menu:</h2>
        {% for category, items in menu %}
            <div class="category">
                <h3>{{ category }}</h3>
                {% for item in items %}
                    <h4>{{ item.name }}: ${{ item.price }}</h4>
                    <span>{{ item.description }}</span>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}