{% extends "templated_components/_skeleton.njk" %}
{% set title = user.username ~ "'s Profile" %}

{% block initialize %}
{% if userProfile.username === user.username %}
    <script src="/scripts/userProfile.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/userProfile.css"/>
{% endif %}
{% endblock %}

{% block body %}
<h1>{{ userProfile.username }}<i><sup>'s Profile</sup></i></h1>
{% if userProfile.username === user.username %}
    <label for="private">Private:</label>
    {% if userProfile.privacy %}
        <input type="checkbox" id="private" checked/>
    {% else %}
        <input type="checkbox" id="private"/>
    {% endif %}
    <button onclick="savePrivacy()"><i class="material-icons">save</i></button>
{% endif %}
<hr>
<h2>Order History:</h2>
{% for order in orders %}
    <div class="order">
        <h3><a href="/orders/{{ order._id }}">{{ order.date }}</a></h3>
        <div class="orderData">
            <h4><a href="/restaurants/{{ order.restaurantId }}">Restaurant: {{ order.restaurantId }}</a></h4>
            {% for item, amount in order.items %}
                <p class="orderItem">{{ item }}: {{ amount }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% endblock %}