<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title | default("MealMobile") }}</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    {% block initialize %}
    {% endblock %}
</head>
<body onload="{{ body.onload | default("") }}">

{% block header %}
    {% include "templated_components/_header.njk" %}
{% endblock %}

{% block body %}
    <h2>{{ bodyText }}</h2>
{% endblock %}

{% block footer %}
    {% include "templated_components/_footer.njk" %}
{% endblock %}

</body>
</html>