<script src="/scripts/_header.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/dropdown.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
<div class="header">

    <div class="dropdown">
        <div class="dropdown-tile">
            <i class="material-icons">home</i><a href="/">Homepage</a>
        </div>
    </div>

    <div class="dropdown">
        <div class="dropdown-tile">
            <i class="material-icons">local_dining</i>
            <a href="/restaurants">Restaurants</a>
        </div>
        <div class="dropdown-content">
            {% if loggedIn %}
            <a href="/order">Place an Order</a>
            {% endif %}
            <a href="/stats">Stats</a>
            <a href="/addrestaurant">Add Restaurant</a>
        </div>
    </div>

    <div class="dropdown">
        <div class="dropdown-tile">
            <i class="material-icons">account_box</i>
            {% if loggedIn %}
            <a href="/users/profile">{{ user.username }}'s Profile</a>
            {% else %}
            <a href="/login">Log In</a>
            {% endif %}
        </div>
        <div class="dropdown-content">
        {% if loggedIn %}
            <a onclick="logout()">Log Out</a>
        {% else %}
            <a href="/register">Register</a>
        {% endif %}
            <a href="/users">All Users</a>
        </div>
    </div>
</div>