<script src="/scripts/_userAuthForm.js"></script>
<h2>Log In</h2>
<div>
    <label for="username">Username:</label>
    <input type="text" id="username" autocomplete="username"/>
    <br/>
</div>
<div>
    <label for="password">Password:</label>
    <input type="password" id="password" autocomplete="current-password"/>
</div>
<div>
    <input type="submit" value="Submit" onclick="submitLogin()"/>
</div>
<a href="/register">Don't have an account?</a>