<script src="/scripts/_userAuthForm.js"></script>
<h2>Log In</h2>
    <label for="username">Username:</label>
    <input type="text" id="username" autocomplete="username"/><br/>
    <label for="password">Password:</label>
    <input type="password" id="password" autocomplete="current-password"/><br/>
    <button onclick="submitLogin()">
        Submit
        <i class="material-icons">send</i>
    </button>
<a href="/register">Don't have an account?</a>